<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Analyzer</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="static/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="static/device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="static/css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="/">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Анализ комментариев социальных сетей</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Топ5</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Анализ страницы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#online_sentiment">Анализ фразы</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Контакты</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
              <h1 class="mb-5">Инструмент анализа данных</h1>
              <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Приступим!</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
              <div class="device-mockup iphone6_plus portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <img src="static/img/XoXo.png" class="img-fluid" alt="">
                  </div>
                  <div class="button">
                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="download bg-primary text-center" id="download">
      <div class="container">
          <div class="row">
            <div class="col-md-10 mx-auto">
                <h2 class="section-heading">Мы провели анализ постов:</h2>        
               </div>
                <!-- <p>Наше приложение доступно на мобильном устройстве. Начать загрузку?<a href="google.com">...</a></p> -->
                <div class="col-md-6 mx-auto">POSITIVE POSTS (TOP 5)

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Number of (+) comments</th>
                        <th>Post</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for post, comments_count in pos_posts %}
                      <tr>              
                          <td> 
                            {{ comments_count }}
                          </td>
                          <td> 
                            {{ post[1] }}
                          </td>
                      {% endfor %}
                    </tbody>
                  </table>
         
              </div>
              <div class="col-md-6 mx-auto"> NEGATIVE POSTS (TOP 5)
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Number of (-) comments</th>
                      <th>Post</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for post, comments_count in neg_posts %}
                    <tr>              
                        <td> 
                          {{ comments_count }}
                        </td>
                        <td> 
                          {{ post[1] }}
                        </td>
                    {% endfor %}
                  </tbody>
                </table>
              </div> 
            </div> 
          </div>
    </section>

    <section class="features" id="features">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Введите название страницы FaceBook:</h2>
        <p class="text-muted">После нажатия на кнопку "Анализировать" будет произведен анализ контента этой страницы за сутки.</p>
        <p class="text-muted">В результате вы получите соотношение позитивных и негативных комментариев.</p>
          <form method="POST" action="#scrape">
          {{ fb_page_form.hidden_tag() }}            
            <div class="form-group">
              {{ fb_page_form.fb_name(class="form-control input-lg") }}
              <!-- <input class="form-control input-lg" id="inputlg" type="text" name="fb_name"> -->
            </div>
            <div>
              <button type="submit" size="100" class="btn btn-default" name="btn" value = "scrape" >Анализировать!</button>
            </div>
          </form> 
          <br>
         
        <section class="download bg-primary text-center" id="scrape">
        <div class="container">
          <h3>Total number of comments:</h3>
          <div><strong>{{ total }}</strong></div>
          <h3>Final ratio:</h3>
          <div>Positive: <strong>{{ pos }}</strong>
          <div>Negative: <strong>{{ neg }}</strong>
        </section>
     </div>
          </div>
        </section>

    <section class="features" id="online_sentiment">
    <div class="container">
      <div class="section-heading text-center">
        <h2>Введите фразу на английском языке:</h2>
        <p class="text-muted">После нажатия на кнопку "Анализировать" будет произведен анализ контента.</p>
        <p class="text-muted">Вы получите тональность текста с некоторой вероятностью.</p>
          <form method="POST" action=#result>
            {{ user_phrase_form.hidden_tag() }}
            <div class="form-group">
              {{ user_phrase_form.user_phrase(class="form-control input-lg") }}
              <!-- <input class="form-control input-lg" id="inputlg" type="text" name="user_phrase"> -->
            </div>
            <div>
              <button type="submit" size="100" class="btn btn-default" name="btn" value ="analyze">Анализировать!</button>
            </div>
          </form> 
          <br>
         
          <section class="download bg-primary text-center" id="result">
          <div class="container">
        <h3>Your phrase:</h3>
        <div>{{ content }}</div>
        <h3>Prediction:</h3>
        <div>This pharse is <strong>{{ prediction }}</strong>
        (probability: {{ probability }}%).
    </section>
     </div>
          </div>
        </section>

    
    <section class="contact bg-primary" id="contact">
      <div class="container">
        <h2>We
          <i class="fa fa-heart"></i>
          Learn Python!</h2>
        <ul class="list-inline list-social">
          <li class="list-inline-item social-twitter">
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item social-facebook">
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
          </li>
          <li class="list-inline-item social-google-plus">
            <a href="#">
              <i class="fa fa-google-plus"></i>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <div class="container">
        <p>&copy; 2017 Learn Python command</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#"></a>
          </li>
          <li class="list-inline-item">
            <a href="#"></a>
          </li>
          <li class="list-inline-item">
            <a href="#"></a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/new-age.min.js"></script>

  </body>

</html>
