<!doctype html>
<html lang="en">
  <head>
       <link rel="shortcut icon" href="favicon.ico" type="image/png">

        <meta charset="utf-8"/>
        <title>Fashion comment</title>
         <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        </head>
        <body>
            
            
        <h1 id ="title" onclick = "alert('Hello!');">Another Day Another Way ...</h1>
  <div> <h2 id ="contact"> <p align="right"> Contact us:<br>
            email: 1@gmail.com <br>
            FAQs: Visit the forum<br>
            <img src="facebook.png"><a href="https://www.facebook.com/mbfashionweekalmaty/">Facebook</a></p>
             </h2></div>           

            <form action="{{ url_for('addRegion') }}" method="post">Project file path: <input type="text" name="projectFilePath"><br>
            <input type="submit" value="Submit">
            </form>
                <!-- <html>
                <head>
                 <title>myform</title>
                </head>
                <body>
                  <form action="?action=save" name="myform" method="post">
                    <input type=text name="mytext">
                    <input type="submit" value="save">
                  </form>
                </body>
                </html> -->


            <div id="content" > The New Colossus.

                    <p>Not like the brazen giant of Greek fame,
                    With conquering limbs astride from land to land;
                    Here at our sea-washed sunset gates shall stand
                    A mighty woman with a torch, whose flame
                    Is the imprisoned lightening, and her name
                    Mother of Exiles. From her beacon-hand
                    Glows world-wide welcome; her mild eyes command
                    The air-bridged harbor that twin cities frame.</p>
                    <p>"Keep ancient lands, your storied pomp!" cries she
                    With silent lips. "Give me your tired, your poor,
                    Your huddled masses yearning to breathe free,
                    The wretched refuse of your teeming shore.
                    Send these, the homeless, tempest-tost to me,
                    I lift my lamp beside the golden door."</p>
                    <p>1883.</p>
                    <p>(Written in aid of Bartholdi Pedestal Fund) </p>
            </div>
            <a id="show-more">Show More</a>
    <script src="ShowComments.js"></script>
               <div id = "Nav"> <p>Navigation:</p>
            <p>1) Push on the title "Another Day..." and to say: "Hello!" :) <br>
               2) Push on button "Show more" and you see the sonnet <br>
               3) Push on Facebook's link and find more information about today</p>
                </div>
        </body>
        
     
    </html>

